default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\FeatureContext
                - App\Tests\Behat\ProposalsFeatureContext

    extensions:
        FriendsOfBehat\SymfonyExtension: null
